certifi==2020.4.5.1
chardet==3.0.4
colorama==0.4.1
future==0.18.2
hmmlearn==0.2.3
joblib==0.14.1
numpy==1.18.1
python-speech-features==0.6
scikit-learn==0.22.2.post1
scipy==1.4.1
six==1.14.0
tabulate==0.8.6
